{
    debug
    auto_https off
}
localhost:80 {
    root * /Users/gabrielhalus/Developer/bunstack/apps/web/dist
    file_server
    try_files {path} /index.html
}

api.localhost:80 {
    reverse_proxy localhost:4000
}

auth.localhost:80 {
    root * /Users/gabrielhalus/Developer/bunstack/apps/web/dist
    file_server
    try_files {path} /index.html
}
